<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
          <Format>Cobertura</Format>
          <IncludeTestAssembly>False</IncludeTestAssembly>
          <ModulePaths>
            <Include>
              <ModulePath>.*\Depot\.dll$</ModulePath>
              <ModulePath>.*\DepotManager\.dll$</ModulePath>
            </Include>
          </ModulePaths>
          <Sources>
            <Exclude>
              <Source>.*\tests\.*</Source>
              <Source>.*\obj\.*</Source>
            </Exclude>
          </Sources>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
